/* puts in background image*/
body{
    background-image: url(http://www.solidbackgrounds.com/images/1280x1024/1280x1024-light-gray-solid-color-background.jpg);
    color: black;
}
/*styling for all the paragraphs*/
p{
    color: black;
    font-size: 20px;  
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    padding-right: 0px;
}
/*styling for all the labels*/
label{
    color: black;
}
/*styling for all the input boxes*/
input{
    color: black;
    background-color: white;
}
/*styling for all the text areas*/
textarea{
    color: lightslategray;
    background-color: white;
}
/*styling for all the headers*/
h1,h2,h3{
    color: black;
    font-size: 25px;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    padding-right: 0px;
}
/*styling for all the buttons*/
button{
    color: black;
    background-color: white;
}
/*styling for all the navigation gropus*/
nav{
    color: black;
    font-size: 20px; 
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 5px;
}

/*styling for bottom paragraph used for link, it can't be seen*/
#bottom{
    font-size: 0px;
    border: 0px;
}
.container{
    background-color:lightslategray;
    border-color: #999999;
}
