/* puts in background image*/
body{
    background-image: url(http://www.solidbackgrounds.com/images/1280x1024/1280x1024-light-gray-solid-color-background.jpg);
    color: black;
}
/*styling for all the paragraphs*/
p{
    color: black;
    font-size: 20px;  
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    padding-right: 0px;


}
/*styling for all the labels*/
label{
    color: black;
}
/*styling for all the input boxes*/
input{
    color: black;
    background-color: white;
}
/*styling for all the text areas*/
textarea{
    color: lightslategray;
    background-color: white;
}
/*styling for all the headers*/
h1,h2,h3{
    color: black;
    font-size: 25px;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    padding-right: 0px;
}
/*styling for all the buttons*/
button{
    color: black;
    background-color: white;
}
/*styling for all the navigation gropus*/
nav{
    color: black;
    font-size: 20px; 
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 5px;
}

/*styling for bottom paragraph used for link, it can't be seen*/
#bottom{
    font-size: 0px;
    border: 0px;
}
.container{
    background-color:lightslategray;
    border-color: #999999;
}
/*styling for the random button*/
#random{
    border-color: grey;
    font-size: 16px;
    border-width: 4px;
}
/*link styling*/
ul  li{ 	
    list-style-type:none; 
}
/* search box styling*/
#tfheader{
    background-color:lightslategray;
}
#tfnewsearch{
    float:right;
    padding:20px;
}
.tftextinput{
    margin: 0;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    border:1px solid #0076a3; border-right:0px;
    border-top-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}
.tfbutton {
    margin: 0;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border: solid 1px #0076a3; border-right:0px;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top,  #00adee,  #0078a5);
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
}
.tfbutton:hover {
    text-decoration: none;
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top,  #0095cc,  #00678e);
}
/* Fixes submit button height problem in Firefox */
.tfbutton::-moz-focus-inner {
    border: 0;
}
.tfclear{
    clear:both;
}